body{
    margin: 0;
    padding: auto;
    width: 100%;
}
#position{
    background-color: antiquewhite;
    box-sizing: border-box;
}
.video{
    width: 60%;
    float: right;
}
.audio{
    width: 40%;
    float: left;
}


